{% extends 'base.html' %}

{% block content %}
<section class="p-5" style="min-height: 80vh; background-color: #303C40;">
<div class="container">
  <div class="row">
    <div class="p-5" style="background-color: rgba(255, 255, 255, 0.2)">
      <h1 class="display-1 text-center">Welcome to your bookshelf</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="p-5" style="background-color: rgba(255, 255, 255, 0.2)">

        <div class="container-fluid">

            <div class="row" id='search'>
              <input id='searchbar' class="form-control" placeholder="Search Google Books by Title" type="text"></input>
              <button class = "btn" id='enter'>Enter</button>
            </div>
            <!-- BOOKSHELF -->
            <div class="container">
              <div class="row">
               {% for book in books %}
               <div class="col-sm">
                  <img src="{{ book.imgurl }}" alt="">
                  <br>
                  {{ book.title }}
                  <br>
                  <form action="post">
                  <input class="delete_button btn" type="submit" value="DELETE" href="{{ url_for('api.deletebook', id = book.book_id) }}">
                  </form>
                </div>
               {% endfor %}
              </div>
            </div>
            <!-- END BOOKSHELF -->
            <div class="row">
                <div class="col-md-4 col-md-offset-1" id="book1">
                </div>
                <div class="col-md-4 col-md-offset-2" id="book2">
                </div>
                <div class="col-md-4 col-md-offset-2" id="book3">
                </div>
            </div>    
            <div class="row">          
                <div class="col-md-4 col-md-offset-1" id="book4">
                </div>
                <div class="col-md-4 col-md-offset-2" id="book5">
                </div>
                <div class="col-md-4 col-md-offset-2" id="book6">
                </div>
            </div>    
            <div class="row">
                <div class="col-md-4 col-md-offset-1" id="book7">
                </div>
                <div class="col-md-4 col-md-offset-2" id="book8">
                </div>
                <div class="col-md-4 col-md-offset-2" id="book9">
                </div>
              </div>           
          </div>
      
        </div>
    </div>
  </div>
</div>



</section>

{% endblock %}