{% extends 'base.html' %}

{% block content %}
<section class="p-5" style="min-height: 80vh; background-color: #303C40;">
<div class="container">
  <div class="row">
    <div class="p-5" style="background-color: rgba(255, 255, 255, 0.2)">
      <h1 class="display-1 text-center">Coding Temple Capstone</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="p-5 text-center" style="background-color: rgba(255, 255, 255, 0.2)">
      <h2>Welcome to my reading list app. This app is used for collecting a list of books that interest you or are on a "to-read list"</h2>
      <img src="../../static/images/bookshelf.jpg" style="max-width: 100%; border-radius: 25px; opacity: 90%;" alt="">
    </div>
  </div>
</div>



</section>

{% endblock %}