{% extends 'base.html' %}

{% block content %}
<section class="p-5" style="min-height: 80vh; background-color: #303C40;">
<div class="container">
  <div class="row">
    <div class="p-5" style="background-color: rgba(255, 255, 255, 0.2)">
      <h1 class="display-1 text-center">Welcome to my coffee app</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="p-5" style="background-color: rgba(255, 255, 255, 0.2)">
      <h3 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta officia voluptatum nesciunt impedit, necessitatibus illum, molestiae quibusdam distinctio est dolorem asperiores nisi maiores nihil beatae eligendi labore earum quasi autem!</h3>
    </div>
  </div>
</div>



</section>

{% endblock %}