{% extends 'base.html' %}

{% block content %}

<section class="bg-image" style='min-height: 80vh; background-color: #303C40;''>

<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-75">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Add information for your Profile</h2>

              {% include 'profileupdateform.html' %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}